# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
shl/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# FAISS (Optional: comment out if you want to commit the index to the repo)
# faiss_index.bin
# embeddings_meta.json

# IDEs
.idea/
.vscode/
*.swp
*.swo
